In [18]:
import sys
!{sys.executable} -m pip install bs4
!{sys.executable} -m pip install lxml
!{sys.executable} -m pip install geopy

Requirement already satisfied: bs4 in c:\users\administrator\appdata\local\programs\python\python37\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\administrator\appdata\local\programs\python\python37\lib\site-packages (from bs4) (4.8.2)
Requirement already satisfied: soupsieve>=1.2 in c:\users\administrator\appdata\local\programs\python\python37\lib\site-packages (from beautifulsoup4->bs4) (1.9.5)
Requirement already satisfied: lxml in c:\users\administrator\appdata\local\programs\python\python37\lib\site-packages (4.4.1)
Collecting geopy
  Downloading https://files.pythonhosted.org/packages/80/93/d384479da0ead712bdaf697a8399c13a9a89bd856ada5a27d462fb45e47b/geopy-1.20.0-py2.py3-none-any.whl (100kB)
Collecting geographiclib<2,>=1.49
  Downloading https://files.pythonhosted.org/packages/8b/62/26ec95a98ba64299163199e95ad1b0e34ad3f4e176e221c40245f211e425/geographiclib-1.50-py3-none-any.whl
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-1.20.0

In [21]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [22]:
url = r"https://neighborhoods.dmagazine.com/"
web = requests.get(url).text
soup = BeautifulSoup(web,'html.parser')
my_tabe = soup.find('table')

In [23]:
table = pd.read_html(str(my_tabe))

In [24]:
df_price = pd.concat(table)

In [25]:
df_price.shape

(57, 10)

In [26]:
df_price = df_price[~df_price.Neighborhood.str.contains('Dallas')]

In [27]:
df_price.shape

(46, 10)

In [28]:
df_price.isna().sum()

Neighborhood                   0
Population                     1
Area (Square Miles)            1
Pop. Density (Per Sq. Mile)    2
Median Age                     1
Age 18+                        1
Household Income               1
Median Home Value              1
% Owner-Occupied               1
Avg. Commute in Minutes        1
dtype: int64

In [29]:
df_price.dropna(subset=['Median Home Value'],inplace=True)

In [30]:
df_price.shape

(45, 10)

In [31]:
df_price.head()

,Neighborhood,Population,Area (Square Miles),Pop. Density (Per Sq. Mile),Median Age,Age 18+,Household Income,Median Home Value,% Owner-Occupied,Avg. Commute in Minutes
0,Bent Tree,10215.0,2.59,3944.0,47.8,86.2%,"$79,127","$466,614",55.7%,23.0
1,Bluffview,4617.0,1.43,3228.7,38.9,75.0%,"$64,001","$624,068",61.9%,22.0
2,Casa Linda,4175.0,1.46,2859.6,46.3,80.8%,"$85,488","$234,502",83.3%,29.0
4,Deep Ellum - Expo Park,2621.0,0.63,4160.3,34.0,87.9%,"$53,659","$275,131",6.3%,23.0
5,Design District,1932.0,0.97,1985.6,33.2,96.5%,"$80,263","$248,000",2.0%,20.0

In [32]:
df_price.columns

Index(['Neighborhood', 'Population', 'Area (Square Miles)',
       'Pop. Density (Per Sq. Mile)', 'Median Age', 'Age 18+',
       'Household Income', 'Median Home Value', '% Owner-Occupied',
       'Avg. Commute in Minutes'],
      dtype='object')

In [33]:
df_price = df_price[['Neighborhood','Avg. Commute in Minutes','Median Home Value']]

In [34]:
df_price.dtypes

Neighborhood                object
Avg. Commute in Minutes    float64
Median Home Value           object
dtype: object

In [35]:
df_price['Median Home Value']=df_price['Median Home Value'].str.replace('$','')

In [36]:
df_price['Median Home Value']=df_price['Median Home Value'].str.replace(',','')

In [37]:
df_price.head()

             Neighborhood  Avg. Commute in Minutes Median Home Value
0               Bent Tree                     23.0            466614
1               Bluffview                     22.0            624068
2              Casa Linda                     29.0            234502
4  Deep Ellum - Expo Park                     23.0            275131
5         Design District                     20.0            248000

In [38]:
df_price['Median Home Value']=df_price['Median Home Value'].astype(float)

In [39]:
df_price.dtypes

Neighborhood                object
Avg. Commute in Minutes    float64
Median Home Value          float64
dtype: object

In [40]:
df_price.plot(kind='scatter',x ='Avg. Commute in Minutes',y='Median Home Value')

In [49]:
geo_df_list = []
for nei in df_price['Neighborhood']:
    if '-' in nei:
        nei.replace('-','')
    geolocator = Nominatim(user_agent='my_project')
    location = geolocator.geocode('{}, Dallas, TX'.format(nei))  
    try:
        geo_df_list.append([nei,location.latitude,location.longitude])
    except:
        print(nei)
geo_df_list

Deep Ellum - Expo Park
Greenway Parks
Hollywood Heights - Santa Monica
Lake Park Estates
Lakewood Heights
Little Forest Hills
M Streets - Vickery Place
Mount Auburn
Northwood Hills - Valley View
Wilshire Heights

[['Bent Tree', 32.9734109, -96.82630605603083],
 ['Bluffview', 32.9764019, -96.90840146928147],
 ['Casa Linda', 34.0514735, -117.2319477],
 ['Design District', 32.7899087, -96.818811],
 ['Devonshire', 32.855165, -96.9685179],
 ['Downtown', 32.7797876, -96.7980118],
 ['Eastwood', 32.832924, -96.685113],
 ['Forest Hills', 32.7454845, -97.0037186],
 ['Highland Park', 32.831563, -96.80077329849314],
 ['Hillside', 32.7762719, -96.7968559],
 ['Kiestwood', 32.703787, -96.862141],
 ['Lake Highlands', 32.886265, -96.7305964],
 ['Lakewood', 32.8271318, -96.7524914],
 ['Lochwood', 32.85622125, -96.69159901312827],
 ['Love Field', 32.8450229, -96.8498413],
 ['Lower Greenville', 32.8146164, -96.7701728],
 ['Medical District', 32.8122975, -96.83304455457127],
 ['Midway Hollow', 32.8713922, -96.8473384656408],
 ['North Oak Cliff', 32.7512189, -96.809043],
 ['Northaven Park', 32.903451450000006, -96.84827813648296],
 ['Oak Cliff', 32.7392973, -96.8111126],
 ['Oak Lawn', 32.809111, -96.8089492],
 ['Old Lake Highlands', 32.886265, -96.7305964],
 ['Park Cities', 46.2390478, -119.3474933],
 ['Pleasant Grove', 32.977483, -96.593786],
 ['Preston Highlands', 32.9861364, -96.79416674148277],
 ['Preston Hollow', 32.88068695, -96.79717517352759],
 ['Preston Trail', 32.934379, -96.964487],
 ['Prestonwood', 32.9687062, -96.7975376],
 ['Ridgewood Park', 33.945385, -84.6056225],
 ['The Peninsula', 32.8396325, -96.7109418],
 ['University Park', 32.851034, -96.7925796464088],
 ['Uptown', 32.8007124, -96.7998571],
 ['Casa View', 35.3160401, -81.1764865],
 ['Glen Abbey', 32.97009995, -96.80989499570973]]

In [19]:
import geopy
from geopy.geocoders import Nominatim

In [17]:
dd = geocoder.geonames('Mountain View, CA',featureClass='A',country= ['US'],key = 'AIzaSyBW2e4XqNlTuQJ2Mg5G3rXTrX3Aopcw4yA')
print(dd)

Status code 401 from http://api.geonames.org/searchJSON: ERROR - 401 Client Error: Unauthorized for url: http://api.geonames.org/searchJSON?q=Mountain+View%2C+CA&fuzzy=1.0&username=AIzaSyBW2e4XqNlTuQJ2Mg5G3rXTrX3Aopcw4yA&maxRows=1&country=US&featureClass=A

<[ERROR - 401 Client Error: Unauthorized for url: http://api.geonames.org/searchJSON?q=Mountain+View%2C+CA&fuzzy=1.0&username=AIzaSyBW2e4XqNlTuQJ2Mg5G3rXTrX3Aopcw4yA&maxRows=1&country=US&featureClass=A] Geonames - Geocode [empty]>

In [45]:
'{} Neighborhood Dallas'.format('bent tree')

'bent tree Neighborhood Dallas'